@{
    ViewData["Title"] = "LandingPage";
    Layout = "";
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>Overtime Management System</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/basic-opl/assets/images/logo-ot-removebg-preview.png" type="image/png">

    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="~/basic-opl/assets/css/animate.css">

    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="~/basic-opl/assets/css/magnific-popup.css">

    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="~/basic-opl/assets/css/slick.css">

    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="~/basic-opl/assets/css/LineIcons.css">

    <!--====== Font Awesome CSS ======-->
    <link rel="stylesheet" href="~/basic-opl/assets/css/font-awesome.min.css">

    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="~/basic-opl/assets/css/bootstrap.min.css">

    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="~/basic-opl/assets/css/default.css">

    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="~/basic-opl/assets/css/style.css">

</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <img class="mr-2" style="width:50px" src="~/basic-opl/assets/images/logo-ot-removebg-preview.png" alt="Logo">
                            <a class="navbar-brand" href="/">
                                <h3 class="text-black">Overtime Management System</h3>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <!-- navbar collapse -->

                            <div class="navbar-btn d-none d-sm-inline-block align-self-end ml-auto">
                                <a class="main-btn" data-scroll-nav="0" asp-action="LoginPage" asp-controller="Account">Login</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->

        <div id="home" class="header-hero bg_cover" style="background-color:white">
            @*url(~/basic-opl/assets/images/banner-bg.svg)*@
            <div class="container">
                <div class="row mt-75">
                    <div class="col-lg-6">
                        <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                            <img src="~/basic-opl/assets/images/header-overtime.jpg" alt="hero" class="w-100">
                        </div> <!-- header hero image -->
                    </div>
                    <div class="col-lg-6">
                        <div class="header-hero-content text-black text-center">
                            <h3 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Sistem untuk Pengajuan Lembur</h3>
                            <p class="text wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                                Overtime Management System adalah sistem pengajuan lembur secara online untuk melakukan verifikasi lembur yang sudah dilakukan oleh karyawan agar bisa mendapatkan persetujuan dari manajer sehingga karyawan bisa mendapatkan upah lembur. Di dalam OMS, Manajer HR sebagai Admin dan Karyawan sebagai User memiliki peran yang berbeda.
                            </p>
                        </div> <!-- header hero content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div id="particles-1" class="particles"></div>
        </div> <!-- header hero -->
    </header>

    <!--====== HEADER PART ENDS ======-->

    <!--====== SERVICES PART START ======-->

    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Halaman Admin</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-1.svg" alt="shape">
                            <i class="lni-list"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Melihat daftar pengajuan lembur yang perlu disetujui dan sudah disetujui/ditolak.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-2.svg" alt="shape">
                            <i class="lni-control-panel"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Melakukan validasi lembur dengan menyetujui atau menolak pengajuan lembur.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-3.svg" alt="shape">
                            <i class="lni-user"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Melakukan registrasi untuk membuat akun bagi karyawan baru.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-2.svg" alt="shape">
                            <i class="lni-ticket"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Mencetak slip gaji karyawan di bulan dan tahun yang diinginkan.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-3.svg" alt="shape">
                            <i class="lni-bar-chart"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Melihat grafik batang tentang jumlah durasi lembur tiap karyawan per bulannya.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Halaman User</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-1.svg" alt="shape">
                            <i class="lni-agenda"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Memasukkan formulir pengajuan lembur.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-2.svg" alt="shape">
                            <i class="lni-list"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Melihat daftar tindakan pengajuan lembur yang sudah dilakukan.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-3.svg" alt="shape">
                            <i class="lni-calendar"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Melihat daftar riwayat gaji yang telah diterima.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="services-icon">
                            <img class="shape" src="~/basic-opl/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="~/basic-opl/assets/images/services-shape-3.svg" alt="shape">
                            <i class="lni-stats-up"></i>
                        </div>
                        <div class="services-content mt-30">
                            <p class="text">Melihat grafik garis tentang jumlah durasi lembur yang sudah dilakukan tiap tahunnya.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== SERVICES PART ENDS ======-->

    <!--====== TEAM PART START ======-->

    <section id="team" class="team-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section-title text-center pb-30">
                        <div class="line m-auto"></div>
                        <h3 class="title"><span>Meet Our</span> Creative Team Members</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="team-image">
                            <img src="~/basic-opl/assets/images/team-1.png" alt="Team">
                        </div>
                        <div class="team-content">
                            <h5 class="holder-name"><a href="#">Farhan Arrahman</a></h5>
                            <p class="text">Fullstack Developer</p>
                        </div>
                    </div> <!-- single team -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="team-image">
                            <img src="~/basic-opl/assets/images/team-3.png" alt="Team">
                        </div>
                        <div class="team-content">
                            <h5 class="holder-name"><a href="#">M. Ryandrie Saputra D.</a></h5>
                            <p class="text">Fullstack Developer</p>
                        </div>
                    </div> <!-- single team -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="team-image">
                            <img src="~/basic-opl/assets/images/team-2.png" alt="Team">
                        </div>
                        <div class="team-content">
                            <h5 class="holder-name"><a href="#">Via Aprillya</a></h5>
                            <p class="text">Fullstack Developer</p>
                        </div>
                    </div> <!-- single team -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TEAM PART ENDS ======-->
   
    <!--====== FOOTER PART START ======-->

    <footer id="footer" class="footer-area pt-200 pb-100">
        <div class="container">
            <div class="align-self-center">
                <h1 class="text-white text-center mt-200">Overtime Management System</h1>
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright align-self-center">
                            <div class="copyright-content">
                                <p class="text">Developed by Kelompok 1</p>
                                <p class="text">Template by <a href="https://uideck.com" rel="nofollow">UIdeck</a></p>
                            </div> <!-- copyright content -->
                        </div> <!-- copyright -->
                    </div>
                </div> <!-- row -->
            </div> <!-- footer copyright -->
        </div> <!-- container -->
        <div id="particles-2"></div>
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    <!--====== PART START ======-->
    <!--
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-"></div>
                </div>
            </div>
        </section>
    -->
    <!--====== PART ENDS ======-->


    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    <!--====== PART START ======-->
    <!--
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-"></div>
                </div>
            </div>
        </section>
    -->
    <!--====== PART ENDS ======-->
    <!--====== Jquery js ======-->
    <script src="~/basic-opl/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/basic-opl/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/basic-opl/assets/js/popper.min.js"></script>
    <script src="~/basic-opl/assets/js/bootstrap.min.js"></script>

    <!--====== Plugins js ======-->
    <script src="~/basic-opl/assets/js/plugins.js"></script>

    <!--====== Slick js ======-->
    <script src="~/basic-opl/assets/js/slick.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/basic-opl/assets/js/ajax-contact.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/basic-opl/assets/js/waypoints.min.js"></script>
    <script src="~/basic-opl/assets/js/jquery.counterup.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/basic-opl/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Scrolling Nav js ======-->
    <script src="~/basic-opl/assets/js/jquery.easing.min.js"></script>
    <script src="~/basic-opl/assets/js/scrolling-nav.js"></script>

    <!--====== wow js ======-->
    <script src="~/basic-opl/assets/js/wow.min.js"></script>

    <!--====== Particles js ======-->
    <script src="~/basic-opl/assets/js/particles.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/basic-opl/assets/js/main.js"></script>

</body>

</html>
